[Desktop Entry]
Name=ROXTerm
Name[pt_BR]=Emulador de Terminal ROXTerm
GenericName=Terminal
GenericName[fr_BE]=Terminal 
GenericName[pt_BR]=Emulador de Terminal ou Console
GenericName[el]=Τερματικό
GenericName[it]=Terminale
GenericName[hu]=Terminál
GenericName[af]=Terminale
GenericName[am]=ተርሚናል
GenericName[ar]=شاشة طرفية
GenericName[be]=Тэрмінал
GenericName[bg]=Терминал
GenericName[bn]=টার্মিন্যাল
GenericName[cs]=Terminál
GenericName[cy]=Terfynell
GenericName[eo]=Terminalo
GenericName[eu]=Terminala
GenericName[fa]=پایانه
GenericName[fi]=Pääte
GenericName[ga]=Terminéal
GenericName[gd]=Crìoch
GenericName[gu]=ટર્મિનલ
GenericName[ha]=Tasha
GenericName[he]=מסוף
GenericName[hi]=टर्मिनल
GenericName[ht]=Tèminal
GenericName[hy]=Տերմինալ
GenericName[is]=Skjáhermir
GenericName[ja]=端末（ターミナル）
GenericName[ka]=ტერმინალი
GenericName[kk]=Терминал
GenericName[km]=ស្ថានីយ
GenericName[kn]=ಟರ್ಮಿನಲ್
GenericName[ko]=터미널
GenericName[ku]=Termînal
GenericName[ky]=Терминал
GenericName[lo]=ສະຖານີ
GenericName[lt]=Terminalas
GenericName[lv]=Terminālis
GenericName[mg]=Terminus
GenericName[mi]=Kapekapeka
GenericName[mk]=Терминал
GenericName[ml]=ടെ‍ര്മിനല്
GenericName[mn]=Терминал
GenericName[mr]=टर्मिनल
GenericName[my]=ဂိတ်
GenericName[ne]=टर्मिनल
GenericName[nl]=Terminalvenster
GenericName[ny]=Pokwerera
GenericName[or]=ଟର୍ମିନାଲ୍
GenericName[pa]=ਟਰਮੀਨਲ
GenericName[ps]=ﻞﻨﯿﻣﺮﺗ
GenericName[pt]=Consola
GenericName[ru]=Терминал
GenericName[sd]=ﻞﻨﻴﻣﺮٽ
GenericName[si]=පර්යන්තය
GenericName[sk]=Terminál
GenericName[so]=Terminalka
GenericName[sr]=Терминал
GenericName[st]=Theminale
GenericName[sw]=Kituo
GenericName[ta]=முனையம்
GenericName[te]=టెర్మినల్
GenericName[tg]=Терминал
GenericName[th]=เทอร์มินัล
GenericName[tr]=Uçbirim
GenericName[tt]=Терминал
GenericName[ug]=ﻝﺎﻨﯩﻣﺮﯧﺗ
GenericName[uk]=Термінал
GenericName[ur]=ﻞﻨﯿﻣﺮﭨ
GenericName[vi]=Thiết bị cuối
GenericName[xh]=i-Terminal
GenericName[yi]=לאַנימרעט
GenericName[yo]=Ebute
GenericName[zh_CN]=终端
GenericName[zh_TW]=終端機
Comment=Use the command line
Comment[fr_BE]=Utilise la ligne de commande
Comment[pt_BR]=O ‘ROXTerm’ é um emulador de terminal, também é conhecido por console, é destinado a fornecer os recursos semelhantes ao ‘Gnome-Terminal’, é baseado na biblioteca VTE, foi projetado para exigir um menor consumo de memória RAM e um menor tempo de inicialização
Comment[de]=Befehlszeile verwenden
Comment[el]=Χρήση γραμμής εντολών
Comment[it]=Usa la riga di comando
Comment[hu]=Parancssor használata
Comment[af]=Gebruik die opdragreël
Comment[am]=የትእዛዝ መስመሩን ተጠቀም
Comment[ar]=ﺮﻣﺍﻭﻷ﻿ﺍ ﺮﻄﺳ ﻡﺪﺨﺘﺳﺍ
Comment[be]=Выкарыстоўваць загадны радок
Comment[bg]=Използване на команден ред
Comment[bn]=কমান্ড লাইন ব্যবহার করুন
Comment[bs]=Koristite komandnu liniju
Comment[ca]=Utilitza la línia d'ordres
Comment[ceb]=Gamita ang command line
Comment[co]=Aduprate a linea di cumanda
Comment[cs]=Používat příkazový řádek
Comment[cy]=Defnyddio'r linell orchymyn
Comment[da]=Brug kommandolinjen
Comment[eo]=Uzu la komandlinion
Comment[es]=Usar la línea de comandos
Comment[et]=Käsurea kasutamine
Comment[eu]=Erabili komando-lerroa
Comment[fa]=استفاده از سطر فرمان
Comment[fi]=Käytä komentoriviä
Comment[fil]=Gamitin ang command line
Comment[fr]=Utilise la ligne de commande
Comment[fy]=Brûk de kommandorigel
Comment[ga]=Úsáid an líne ordaithe
Comment[gd]=Cleachd an loidhne-àithne
Comment[gl]=Usar a liña de comandos
Comment[gu]=આદેશ વાક્ય વાપરો
Comment[ha]=Yi amfani da layin umarni
Comment[haw]=E hoʻohana i ka laina kauoha
Comment[he]=הדוקפה תרושב שמתשה
Comment[hi]=कमांड लाइन का प्रयोग करें
Comment[hr]=Koristite naredbeni redak
Comment[ht]=Sèvi ak liy lòd la
Comment[hy]=Օգտագործեք հրամանի տողը
Comment[id]=Gunakan baris perintah
Comment[is]=Notaðu skipanalínuna
Comment[ja]=コマンドラインを使用します
Comment[jv]=Gunakake baris printah
Comment[ka]=გამოიყენეთ ბრძანების ხაზი
Comment[kk]=Пәрмен жолын пайдаланыңыз
Comment[km]=ប្រើបន្ទាត់ពាក្យបញ្ជា
Comment[kn]=ಆಜ್ಞಾ ಸಾಲಿನ ಬಳಸಿ
Comment[ko]=명령 행을 사용합니다
Comment[ku]=Rêza fermanê bikar bînin
Comment[ky]=Буйрук сабын колдонуңуз
Comment[lb]=Benotzt d'Kommandozeil
Comment[lo]=ໃຊ້ເສັ້ນຄໍາສັ່ງ
Comment[lt]=Naudoti komandų eilutę
Comment[lv]=Izmantojiet komandrindu
Comment[mg]=Ampiasao ny andalana baiko
Comment[mi]=Whakamahia te raina whakahau
Comment[mk]=Користи ја командната линија
Comment[ml]=കമാൻഡ് ലൈൻ ഉപയോഗിക്കുക
Comment[mn]=Тушаалын мөрийг ашиглана уу
Comment[mr]=कमांड लाइन वापरा
Comment[ms]=Gunakan baris arahan
Comment[mt]=Uża l-linja tal-kmand
Comment[my]=command line ကိုသုံးပါ။
Comment[ne]=कमांड लाइन प्रयोग गर्नुहोस्
Comment[nl]=Gebruik de opdrachtregel
Comment[nb]=Bruk kommandolinjen
Comment[ny]=Gwiritsani ntchito mzere wolamula
Comment[or]=କମାଣ୍ଡ୍ ଲାଇନ୍ ବ୍ୟବହାର କରନ୍ତୁ |
Comment[pa]=ਕਮਾਂਡ ਲਾਇਨ ਵਰਤੋਂ
Comment[pl]=Wiersz poleceń
Comment[ps]=ﺉﻭﺭﺎﮐﻭ ﻦﯾﻻ﻿ ډﻧﺎﻤﮐ ﺩ
Comment[pt]=Utilizar a linha de comando
Comment[ro]=Foloseşte linia de comandă
Comment[ru]=Использовать командную строку
Comment[rw]=Koresha umurongo
Comment[sd]=ﻮﻳﺮڪ ﻝﺎﻤﻌﺘﺳﺍ ﻦﺋﻻ﻿ ڊﻧﺎﻤڪ
Comment[si]=විධාන රේඛාව භාවිතා කරන්න
Comment[sk]=Použiť príkazový riadok
Comment[sl]=Uporabite ukazno vrstico
Comment[sm]=Fa'aaoga le laina fa'atonu
Comment[sn]=Shandisa mutsara wekuraira
Comment[so]=Isticmaal khadka taliska
Comment[sq]=Përdorni rreshtin e urdhrave
Comment[sr]=Користите линију наредби
Comment[st]=Sebelisa mola oa taelo
Comment[su]=Paké garis paréntah
Comment[sv]=Använd kommandoraden
Comment[sw]=Tumia mstari wa amri
Comment[ta]=கட்டளை வரியைப் பயன்படுத்தவும்
Comment[te]=కమాండ్ లైన్ ఉపయోగించండి
Comment[tg]=Сатри фармонро истифода баред
Comment[th]=สั่งการด้วยบรรทัดคำสั่ง
Comment[tk]=Buýruk setirini ulanyň
Comment[tr]=Komut satırını kullan
Comment[tt]=Команда сызыгын кулланыгыз
Comment[ug]=ﯔﯩﺘﯩﻠﺸﯩﺋ ﻰﻨﯨﺭﯘﻗ ﻕﯗﺮﻳﯘﺑ
Comment[uk]=Командний рядок
Comment[ur]=۔ﮟﯾﺮﮐ ﻝﺎﻤﻌﺘﺳﺍ ﻦﺋﻻ﻿ ﮉﻧﺎﻤﮐ
Comment[uz]=Buyruqlar qatoridan foydalaning
Comment[vi]=Dùng dòng lệnh
Comment[xh]=Sebenzisa umgca womyalelo
Comment[yi]=הרוש ןלעפֿאַב יד ןצינ
Comment[yo]=Lo laini aṣẹ
Comment[zh_CN]=使用命令行
Comment[zh_TW]=使用命令列
Keywords=shell;prompt;command;commandline;
Keywords[fr_BE]=shell;prompt;command;commandline;ligne;
Keywords[pt_BR]=shell;cursor;prompt;comando;interface de linha de comando;modo de texto;console;terminal;
Keywords[de]=Shell;Prompt;Befehl;Befehlszeile;
Keywords[el]=κέλυφος;προτροπή;εντολή;γραμμή εντολών;
Keywords[it]=shell;prompt;comando;riga di comando;
Keywords[hu]=parancsértelmező;prompt;parancs;parancssor;
Keywords[ar]=طرفية;صدفة;سطر;أوامر;
Keywords[be]=абалонка;загадны радок;загад;
Keywords[ca]=shell;prompt;ordre;línia d'ordres;intèrpret d'ordres;
Keywords[cs]=shell;prompt;výzva;příkaz;příkazový řádek;příkazová řádka;
Keywords[da]=shell;skal;prompt;kommando;kommandolinje;
Keywords[es]=shell;prompt;comando;línea de comandos;
Keywords[et]=shell;kest;käsuviip;käsk;käsurida;terminal;
Keywords[eu]=shell;gonbitea;komandoa;komando-lerroa;
Keywords[fa]=پوسته;prompt;فرمان;خط‌فرمان;
Keywords[fi]=kuori;kehote;komento;komentorivi;
Keywords[fr]=shell;prompt;command;commandline;ligne;
Keywords[gl]=shell;consola;orde;liña de ordes;
Keywords[gu]=શેલ;પ્રોમ્પ્ટ;આદેશ;આદેશવાક્ય;
Keywords[he]=מעטפת;פקודה;שורת פקודה;שורה;מסך שחור;חלון דוס;
Keywords[hi]=शेल;प्रांप्ट;कमांड;कमांडलाइन;
Keywords[id]=shell;prompt;perintah;baris perintah;
Keywords[ja]=シェル;プロンプト;コマンド;コマンドライン;
Keywords[kn]=ಶೆಲ್;ಪ್ರಾಂಪ್ಟ್‍;ಆದೇಶ;ಆದೇಶಸಾಲು;
Keywords[ko]=shell;셸;쉘;prompt;프롬프트;command;명령;commandline;명령행;커맨드;라인;
Keywords[lt]=apvalkalas;eilutė;komanda;komandų eilutė;
Keywords[lv]=čaula;uzvedne;komanda;komandrinda;
Keywords[mr]=शेल;प्रॉम्प्ट;कमांड;कमांडलाइन;
Keywords[nl]=shell;prompt;commando;opdrachtregel;cli;commandline;terminal;
Keywords[nb]=skall;kommando;kommandolinje;
Keywords[or]=ସେଲ;ପ୍ରମ୍ପ୍ଟ;ନିର୍ଦ୍ଦେଶ;ନିର୍ଦ୍ଦେଶ ଧାରା;
Keywords[pa]=ਸ਼ੈਲ;ਪਰੌਂਟ;ਕਮਾਂਡ;ਕਮਾਂਡ-ਲਾਈਨ;shell;prompt;command;commandline;
Keywords[pl]=powłoka;shell;prompt;polecenie;komenda;wiersz poleceń;linia poleceń;wiersz komend;linia komend;
Keywords[pt]=shell;prompt;comando;linha de comandos;
Keywords[ru]=оболочка;строка;команда;командная строка;
Keywords[sk]=shell;výzva;príkaz;príkazový riadok;
Keywords[sl]=lupina;vnosnik;ukazi;ukazna vrstica;
Keywords[sr]=љуска;шкољка;упит;наредба;команда;
Keywords[sv]=skal;prompt;kommando;kommandorad;
Keywords[ta]=ஷெல்;தூண்டி;கட்டளை;கட்டளை வரி;
Keywords[te]=షెల్;ప్రామ్ట్;కమాండ్;కమాండ్‌లైన్;
Keywords[tg]=восит;сатри фармон;фармон;хати фармон;
Keywords[th]=เชลล์;พรอมต์;คำสั่ง;บรรทัดคำสั่ง;
Keywords[ug]=shell;prompt;command;commandline;shell;كۆرسەتمە;بۇيرۇق;بۇيرۇق قۇرى;
Keywords[uk]=оболочка;комадний;рядок;команда;
Keywords[zh_CN]=shell;prompt;command;commandline;命令;提示符;命令行;
Keywords[zh_TW]=shell;prompt;command;commandline;提示;指令;命令列;
TryExec=roxterm
Exec=roxterm
Icon=roxterm
Type=Application
Categories=GTK;Utility;TerminalEmulator;System;
